/* 日常 / 闪念样式 */
.memos-container {
  margin: 1em 0;

  .memo {
    padding: 1em 1.25em;
    margin-bottom: 1.25em;
    background-color: #fafafa;
    border-left: solid 4px #c9c9c9;
    border-radius: 0 8px 8px 0;

    .memo-content {
      line-height: 1.7;
      font-size: 1em;

      p {
        margin-bottom: 0.5em;
      }

      p:last-child {
        margin-bottom: 0;
      }

      img {
        max-width: 100%;
        border-radius: 5px;
      }

      a {
        color: #2531db;
      }

      a:hover {
        text-decoration-line: underline;
      }
    }

    .memo-tags {
      margin-top: 0.5em;

      a {
        display: inline-block;
        margin-right: 0.5em;
        color: #1321e7;
        font-size: 0.9em;
      }
    }

    .memo-date {
      margin-top: 0.5em;
      font-size: 0.8em;
      color: rgba(88, 88, 88, 0.6);
    }
  }
}
